<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="stylesheet" href="/static/dashboard_files/theme.min%20(4).css">
<link rel="stylesheet" href="/static/dashboard_files/style.css">
<link rel="stylesheet" href="/static/dashboard_files/font-awesome.min.css" media="screen" title="no title" charset="utf-8">

    <script type="text/javascript" src="/static/dashboard_files/jquery.js"></script>
    {% if firstVisit %}
    <script type="text/javascript" src="/static/dashboard_files/script.js"></script>
    {% endif %}
    <script type="text/javascript" src="/static/dashboard_files/panelscript.js"></script>

      </head>
  <body>
    <!-- dsbhidbisbidswbiw -->
    <div class="modal fade" id="leaderboard-modal" role="dialog">
      <div class="modal-dialog" id="leaderboard-modal">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">LEADERBOARD</h4>
          </div>
          <div class="modal-body" id="leaderboard-modal-body">
            <p>
              Leaderboard <b>coming</b> soon!
              <span class="pull-right">

              </span> </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

           </div>
      </div>


  <!-- Modal -->
  <div class="modal fade" id="notify-all-modal" role="dialog">
    <div class="modal-dialog" id="notification-all-modal">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">NOTIFICATIONS</h4>
        </div>
        <div class="modal-body" id="notify-all-modal-body">
        {% for msg in all_user_msgs %}
          <p>
            {{forloop.counter}} : {{msg.message}}
          <span class="pull-right">
            {{msg.creation_time}}
          </span> </p>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

       </div>
  </div>

    <!-- dijpwihdwhdwbwd -->
     <div class="modal" id="startup-task-modal" role="dialog">
    <div class="modal-dialog startup-tip" id="modal-task">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">TASKS</h4>
        </div>
        <div class="modal-body">
          <p>Here are your task.</p>
          <p>Complete them to get points and improve your rank in leaderboard</p>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default modal-close-btn" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-default" id="startup-task-next" data-target="#startup-notifications-panel" data-dismiss="modal">Next</button>
        </div>
      </div>

       </div>
  </div>
  <!-- njdenjdbkdbkbkdskbsdbkdsbkh -->
   <div class="modal" id="startup-leaderboard-modal" role="dialog">
    <div class="modal-dialog startup-tip" id="modal-leaderboard">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">leaderboard</h4>
        </div>
        <div class="modal-body">
          <p>Here you will see the leaderboard, checkout your rank here among other Campus Ambassadors of Technex'17.</p>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default modal-close-btn" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-default" id="startup-leaderboard-next" data-target="#startup-settings-panel" data-dismiss="modal">Next</button>
        </div>
      </div>

       </div>
  </div>
  <!--  ksihdiihdaihdqibhdqbidq-->
   <div class="modal" id="startup-settings-modal" role="dialog">
    <div class="modal-dialog startup-tip" id="modal-settings">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Settings</h4>
        </div>
        <div class="modal-body">
          <p>See your profile details here and edit it if necessary</p>
        </div>
        <div class="modal-footer">

          <button type="button"= class="btn btn-default" id="startup-settings-next" data-dismiss="modal">Close</button>
         <!--   <button type="button" class="btn btn-default" id="startup-settings-next" data-dismiss="modal">Next</button> -->
        </div>
      </div>

       </div>
  </div>
  <!-- sdojiudsiudsbiudbiudwbiudwbiudw -->
   <div class="modal" id="startup-notifications-modal" role="dialog">
    <div class="modal-dialog startup-tip" id="modal-notifications">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Notifications</h4>
        </div>
        <div class="modal-body">
          <p>Here you will see notifications of various upcoming events, updates and deadlines to let you stay technexed!  </p>
        </div>
        <div class="modal-footer">

          <button type="button" id="startup-task-close" class="btn btn-default modal-close-btn" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-default" id="startup-notifications-next"  data-target="#startup-leaderboard-modal" data-dismiss="modal">Next</button>
        </div>
      </div>

       </div>
  </div>
  <!-- ekonnocnovenoeenoinoivenioevnoive -->
    <nav id="accordion" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

<l class="navbar-brand"><a href="www.technex.in"><div class="tech"><img src="/static/dashboard_files/logo_technex_white_17.png"></div></a></l>

                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="menu nav navbar-nav pull-right list-inline">
                            <li>
                            <a href="#" data-target="#leaderboard-modal" data-toggle="modal" id="leaderboard"><i class="fa fa-list-ol"></i> Leaderboard</a>
                            </li>

                            <li>
                                <a href="/settings/" id="settings"><i class="fa fa-cog"></i> Settings</a>
                            </li >

                            <li>
                                <a href="/logout/" id="Logout"><i class="fa fa-power-off"></i> Log out</a>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>

<div class="content">
  <div class="container" >
      <div class="row">
  <div class="col-md-3" style="width:310px">

    <div class="panel panel-default" id="task-panel">
      <div class="panel-heading"><strong>Tasks</strong></div>
        <div class="list-group tasks">
          {% for taskInstance in taskInstances %}
         <a class="list-group-item " href="#{{taskInstance.task.taskId}}">
           {{taskInstance.task.taskName}}<span id="glydd" class="glyphicon " style="color:green"></span>
           <span class="pull-right">
             {% if taskInstance.status == 100 %}
             <i class="fa fa-check" aria-hidden="true"></i>
             {% else %}
             <i class="fa fa-times" aria-hidden="true"></i>
             {% endif %}
           </span>
             <div class="progress progress-striped">
                 <div style="width:{{taskInstance.status}}%;" id="glyddpro" class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                 </div>
             </div></a>
{%endfor%}
        </div>
      </div>
    </div>

     <div class="col-md-5" id="banner">
       {% if messages %}
     {% for msg in messages %}
         <div class="alert alert-{{msg.tags}}">
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     {{msg}}
       </div>
     {% endfor %}
     {% endif %}
       <img src="/static/dashboard_files/technex_init_banner.jpg"/>
     </div>

      <div class="col-md-5 dial" id="16">
          <div class="well bs-component live-less-editor-hovercontainer" data-relatedvars="legend-color,legend-border-color,input-color,input-height-base,input-bg,input-border,input-border-radius,input-border-focus,input-color-placeholder,input-bg-disabled,input-height-small,input-height-large,state-success-text,state-success-bg,state-warning-text,state-warning-bg,state-danger-text,state-danger-bg,input-group-addon-bg,input-group-addon-border-color,input-border-radius-large,input-border-radius-small">
              <form class="form-horizontal" id="16">
                  <fieldset>
                      <legend>Director Contact Details</legend>
                      <div class="form-group">
                          <div class="col-lg-10">
                          {{ddform.directorDetail}}
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-lg-10">
                              <button type="submit" class="btn btn-primary" value="directorDetail" id="/submitDirector/" >Submit</button>
                          </div>
                      </div>
                  </fieldset>
              </form>
              <div id="live-less-editor-hoverbuttons" style="display: none;">
             <div id="live-less-editor-relatedvars-button">related variables</div>
           </div>
         </div>
      </div>

      <div class="col-md-5 dial" id="17">
          <div class="well bs-component live-less-editor-hovercontainer" data-relatedvars="legend-color,legend-border-color,input-color,input-height-base,input-bg,input-border,input-border-radius,input-border-focus,input-color-placeholder,input-bg-disabled,input-height-small,input-height-large,state-success-text,state-success-bg,state-warning-text,state-warning-bg,state-danger-text,state-danger-bg,input-group-addon-bg,input-group-addon-border-color,input-border-radius-large,input-border-radius-small">
              <form class="form-horizontal" id="2">
                  <fieldset>
                      <legend>Student Body Head Details</legend>

                      <div class="form-group">
                          <div class="col-lg-10">
                          {{sbdform.studentBodyDetail}}
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-lg-10 ">
                              <button type="submit" class="btn btn-primary" value="studentBodyDetail" id="/submitStudentBody/">Submit</button>
                          </div>
                      </div>
                  </fieldset>
              </form>
              <div id="live-less-editor-hoverbuttons" style="display: none;">
                <div id="live-less-editor-relatedvars-button">related variables</div>
              </div>
            </div>
      </div>

      <div class="col-md-5 dial" id="18">
            <p >Connect your facebook profile with Technex.This will let us automatically share and like post from our <a href="https://www.facebook.com/Technex/">Technex FB page,</a>. It's a great step for you towards the top of the leaderboard</p>
            <button onclick="fb_login()" style=""class="center-block btn btn-primary">
              <i class="fa fa-facebook"> Facebook </i>
            </button>
      </div>

          <!-- <div class="col-md-5 dial" id="fbl">
              FBL
          </div> -->

          <div class="col-lg-3 notification-panel" id="notification-panel" style="width:370px">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>Notifications <span class="badge">{{user_msgs.count}}</span>
                      <div class="seeall">
                        <a class="notify-all" data-target="#notify-all-modal" data-toggle="modal" href="#">See All</a>
                      </div>
                    </strong>
                  </div>
                  <div class="list-group tasks">
                  {% for msg in user_msgs %}
                    <li class="list-group-item ">
                      <div class="panel-body">

                          {{msg.message}}

                      <span class="pull-right">
                       <input type="checkbox" class=" checkbox pull-right" id="{{msg.id}}" />
                      </span>

                    </div>
                  </li>
                    {% endfor %}

                    <div class="list-group-item ">
                    </div>
                  </div>
              </div>
          </div>

      </div>

       </div>
      </div>
    </div>
    <script src="/static/js/facebook.js" charset="utf-8"></script>
    <script src="/static/dashboard_files/1.11.3jquery.min.js"></script>
    <script src="/static/js/notify.js"></script>
    <script src="/static/dashboard_files/bootstrap.min.js"></script>


</body>
</html>
