{% extends 'ca/loggedin_base.html' %}

{% load i18n %}

{%block extra_css %}
<link rel="stylesheet" href="/static/css/own/dashboard.css" media="screen" title="no title" charset="utf-8">
{%endblock%}

{% block navbar_name %}
<l class="navbar-brand">Change Password</l>
{% endblock %}
{% block extra_link %}
  <li>
      <a href="/ca/dashboard/"><i class="fa fa-th"></i> Dashboard</a>
  </li>
{% endblock %}

{% block content %}

<div class="content">
  <div class="container">
      <div class="row">
        <div class="col-md-3 columns">
          <br>
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Settings</strong>
            </div>
            <div class="list-group">
              <a class="list-group-item active" href="{% url 'account_change_password' %}">
                Change Password
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-9 columns">
          <div class="container">
            <h1>{% trans "Change Password" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
