{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}

<div class="jumbotron text-center">
<h1>  Welcome to Technex CA portal</h1>
</div>

{% endblock %}
{% block content %}
<div class="container">
  <h1>{% trans "Register" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
<div class="row">
  <div class="col-sm-5">

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{form.non_field_errors}}

      {% for field in form %}
      {{ field|add_class:"form-control" }} <br>
      {{field.errors}}
      {% endfor %}
      <!--  CHANGED TO REDIRECT TO 'PROFILE REGISTRATION PAGE' AFTER USER SIGNUP -->
      <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'ca:profile_registration' %}" />

      <button class="btn btn-primary"type="submit">{% trans "Register" %} &raquo;</button>
    </form>
    <br>
  </div>
</div>
</div>

{% endblock %}
