<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block title %} {% endblock %}
        {%block css %}
        <!-- <link rel="stylesheet" href="/static/css/own/basestyle.css"> -->
        <link rel="stylesheet" href="/static/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/own/basestyle.css">

        {%endblock%}

        {%block extra_css%}

        {% endblock %}


    </head>
<body id="canvas">
        {%block intial_content%}

        {%endblock%}

        {% if user.is_authenticated %}
        {% block auth %}
        {% endblock %}
        {% else %}
        {% block unauth %}
        {% endblock %}
        {% endif %}


        {% block content %}
        {% endblock %}


        {% block extra_body %}
        {% endblock %}

        {% block js %}
        <!-- Javascript -->
        <script src="/static/js/1.11.3jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/trianglify.min.js"></script>
        <script src="/static/js/base.js" charset="utf-8"></script>

        {% endblock %}
    {% block extra_js%}

    {%endblock%}

    </body>
    {%block footer%}
    {%endblock%}
</html>
