{% extends 'technexuser/base.html'%}
{% block title%}
        <title>Technex'17</title>
{% endblock %}


      {%block intial_content%}
      <div class="jumbotron text-center">
      <h1>  Welcome to Technex'17</h1>
      </div>
      {%endblock%}
      {% block auth %}

      <div class="text-center">
        <h2>hello {{name}}! </h2>
          <h2> Let's move on to your Technex Dashboard</h2>
        <a class="btn btn-default btn-lg" href="{% url 'technexuser:dashboard' %}">Dashboard</a>
      </div>
      {% endblock %}
                    {% block unauth %}
                    <div class="text-center">
                      <a class="btn btn-primary btn-lg" href="{% url 'technexuser:login' %}">Log In</a>
                      <a class="btn btn-default " href="{% url 'technexuser:register' %}">Sign Up</a>
                      <br><br>
                      <a href="{% url 'ca:register' %}" class="btn link btn-default "> Register for CA </a>

                    </div>
                    {% endblock %}

        {% block content %}

{% endblock%}
